/* Document Variables */

@import 'variables.less';

/*Body*/

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #555761;
}

@media(max-width:1200px) {
    body {
        width: 1366px;
    }
}

.bg {
    background-color: #F9FAFC;
}

.container {
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
}

.owl-carousel .owl-stage-outer {
    width: 100%;
}

/*TOP*/

.top-main-navigation {
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
    height: 70px;
    z-index: 1000 !important;
    position: relative;
}

.top-main-navigation .row > div.col-xs-6 {
    width: 53%;
    padding-right: 0;
}

.top-main-navigation .container > .row > div.col-xs-4 {
    width: 30.333%;
}

.logo {
    padding: 20px 0px;
    display: block;
}

.search-bar {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 3px;
    height: 40px;
    position: relative;
    margin: 15px 0px;
}

.search-bar form {
    display: block;
}

.search-bar form:after {
    content: "";
    display: table;
    clear: both;
}

.js-panel-tip,
.js-panel-type {
    display: none;
}

.search-container {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 0 0 3px 3px;
    width: 75%;
    position: absolute;
    top: 100%;
    z-index: 100;
    right: 0;
}

.search-container .item-search {
    padding: 15px 25px;
    border-bottom: 1px solid #E0E6ED;
}

.search-container .item-search:last-child {
    border: 0;
}

.search-container .item-search > .title,
.search-container .notes > .title {
    color: #757886;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    margin: 0;
    margin-bottom: 10px;
}

.search-container .item-search .list-search {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-container .item-search .list-search li a {
    color: #757886;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
}

.category-search {
    width: 25%;
    float: left;
    border-right: 1px solid #E0E6ED;
    padding: 11px 15px;
    line-height: normal;
}

.list-category-search {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-category-search li {
    display: inline-block;
    margin-right: 10px;
}

.list-category-search li:last-child {
    margin-right: 0;
}

.pills {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 3px;
    display: block;
    padding: 7px 20px;
    color: #777A88;
    font-size: 10px;
}

.pills.blue,
.pills:hover {
    background-color: #008CCF;
    color: #fff;
}

.product-show-search {
    margin-top: 25px;
}

.product-show-search > .row {
    margin: 0 -5px;
}

.product-show-search > .row > div {
    padding: 0 5px;
}

.product-show-search .notes {
    margin-bottom: 25px;
}

.product-show-search .notes .title {
    float: left;
    margin: 0;
}

.product-show-search .notes .count {
    float: right;
    color: #757886;
    font-family: Quicksand;
    font-size: 10px;
    line-height: 12px;
}

.product-show-search .price-box .price {
    font-size: 14px;
}

.product-show-search .price-box .price-old {
    font-size: 10px;
}

.product-show-search .product-container .discunt-container {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.product-show-search .product-container .title {
    font-size: 12px;
}

.product-show-search .product-container .infodeliv {
    font-size: 10px;
}

.product-show-search .product-container .infodeliv i {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.product-show-search .product-container .promotion {
    font-size: 10px;
}

.product-show-search .product-container .btn-s {
    font-size: 10px;
}

.category-search button.cat-button {
    background: none;
    border: 0;
    padding: 0;
    color: #757886;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.category-search button.cat-button i {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.search-bar input[type="text"] {
    border: 0;
    height: 38px;
    padding: 0;
    width: 75%;
    padding-left: 15px;
    padding-right: 72px;
    color: #f55820;
    font-weight: bold;
    background: none;
}

.search-bar input[type="text"]::-webkit-input-placeholder {
    color: #f55820;
    font-weight: bold;
}

.search-bar input[type="text"]::-moz-placeholder {
    color: #f55820;
    font-weight: bold;
}

.search-bar input[type="text"]:-ms-input-placeholder {
    color: #f55820;
    font-weight: bold;
}

.search-bar input[type="text"]:-moz-placeholder {
    color: #f55820;
    font-weight: bold;
}

.search-btn {
    background-color: #F26524;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 #F26524;
    height: 40px;
    border: 0;
    width: 62px;
    position: absolute;
    top: -1px;
    right: 0;
}

.search-btn:hover {
    background: #FF7F45;
}

.search-btn i {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
}

.header-account,
.order-static,
.header-cart {
    float: right;
    margin-left: 20px;
}

.header-account {
    padding-top: 20px;
    padding-bottom: 20px;
}

.account-profile .icon {
    float: left;
    margin-top: -8px;
}

.account-profile .icon i,
.order-schedule i,
.mini-cart i {
    color: #757886;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

.account-profile .content,
.order-schedule span {
    float: left;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    color: #757886;
}

.account-profile .content span {
    font-weight: 700;
    display: block;
}

.account-profile .content small {
    font-weight: 400;
}

.account-profile .content small i {
    font-size: 10px;
    margin-right: 5px;
}

.order-static {
    padding-top: 20px;
    padding-bottom: 20px;
}

.order-schedule i,
.mini-cart i {
    float: left;
    margin-right: 6px;
    margin-top: -8px;
}

.order-schedule span {
    font-weight: 700;
    width: 60px;
}

.header-cart {
    margin-left: 0;
    width: 57px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mini-cart .notification-dot {
    background-color: #E4E9F3;
    border-radius: 100%;
    width: 21px;
    height: 21px;
    display: block;
    color: #757886;
    font-size: 12px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    float: left;
}

#top-sticky-sticky-wrapper + section {
    margin-top: 1px;
}

/*Mega Menu*/

.mega-menu {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    top: 100%;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
}

.mega-menu.show-megamenu {
    display: block;
}

.mega-menu .mega-category {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mega-menu .mega-category:after {
    content: "";
    clear: both;
    display: table;
}

.mega-menu .mega-category > li {
    width: 100px;
    height: 100px;
    float: left;
    position: static;
    margin-bottom: 20px;
}

.mega-menu .mega-category > li.active {
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(94, 94, 94, 0.5);
}

.mega-menu .mega-category > li > a.mega-texticon {
    display: block;
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.mega-menu .mega-category > li > a.mega-texticon img {
    height: 60px;
}

.mega-menu .mega-category > li > a.mega-texticon svg {
    height: 60px;
}

.mega-menu .mega-category > li > a.mega-texticon > span {
    display: block;
}

.mega-menu .mega-category > li.active > a.mega-texticon {
    color: @secondary;
    font-weight: 700;
}

.mega-menu .mega-category > li.active > a.mega-texticon svg path {
    fill: @primary !important;
}

.mega-menu .mega-subcategory {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    background: #fff;
    display: none;
    overflow-y: auto;
    max-height: 480px
}

.mega-menu .mega-subcategory::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.mega-menu .mega-subcategory::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.mega-menu .mega-subcategory::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

.mega-menu .active .mega-subcategory {
    display: block;
}

.mega-menu .mega-subcategory .row {
    margin-left: -10px;
    margin-right: -10px;
}

.mega-menu .mega-subcategory .col-xs-2 {
    padding-left: 10px;
    padding-right: 10px;
}

.mega-menu .mega-subcategory ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.mega-menu .mega-subcategory ul li {}

.mega-menu .mega-subcategory ul li a {
    color: #757886;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.mega-menu .mega-subcategory ul li.title {
    color: #008CCF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 10px;
}

.mega-menu .inspiration-container-left .bitmap.shadow {
    height: auto;
}

.mega-menu .inspiration-container-left .bitmap .text {
    font-size: 14px;
    line-height: 17px;
    padding: 10px;
}

.btn-see-more {
    text-align: center;
}

.btn-see-more button {
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    background: none;
    padding: 0;
    border: 0;
}

.btn-see-more button i {
    font-size: 12px;
    line-height: 14px;
}

.mega-menubottom {
    text-align: center;
    border-top: 1px solid #E0E6ED;
    margin-top: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.mega-menubottom p {
    display: inline-block;
    margin: 0;
    color: #757886;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-right: 15px;
}

.mega-menubottom .mega-bottomlogo {}

.mega-menubottom .mega-bottomlogo img {
    height: 25px;
}

/*Banner*/

.main-banner {
    background: linear-gradient(135deg, #ECE9E6 0%, #ECE9E6 100%);
    height: 300px;
}

.main-banner .container {
    height: 100%;
}

.main-banner .slider-text,
.main-banner .slider-img,
.main-banner .slider-button {
    float: left;
    height: 100%;
    vertical-align: middle;
    display: table;
}

.main-banner .slider-text,
.main-banner .slider-img {
    width: 33.33333333%;
}

.main-banner .slider-content {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.main-banner .slider-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.main-banner .slider-text .title {
    color: #555762;
    line-height: 43px;
    text-align: left;
    margin: 0;
    margin-bottom: 15px;
}

.main-banner .slider-text .desc {
    color: #555762;
    line-height: 24px;
    text-align: left;
    margin-bottom: 15px;
}

.main-banner .slider-content .meta {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
}

.main-banner .slider-content .meta:after {
    content: "";
    display: table;
    clear: both;
}

.main-banner .slider-content .meta span {
    color: #555762;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.main-banner .slider-content .meta span i {
    color: #555762;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.slider-content .btn-xl {
    margin: 0 auto;
    float: right;
    width: 280px;
}

.slider-images.owl-theme .owl-dots {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    margin: 0;
}

.slider-images.owl-theme .owl-dots .owl-dot span {
    background: #c5c0c0;
    width: 7px;
    height: 7px;
    cursor: pointer;
}

.slider-images.owl-theme .owl-dots .owl-dot.active span,
.slider-images.owl-theme .owl-dots .owl-dot:hover span {
    background: #008ccf
}

.secondary-banner {
    background: #fff;
    padding: 14px 0px;
    min-height: 300px;
}

.secondary-banner .text {
    min-height: 300px;
    vertical-align: middle;
    display: table;
}

.secondary-banner .text .text-content {
    display: table-cell;
    vertical-align: middle;
}

.secondary-banner .text h3 {
    color: #757886;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    margin: 0;
    margin-bottom: 18px;
}

.secondary-banner .text p {
    color: #757886;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}

.sub-banner-2-grid.sub-banner-container {
    background-color: #FFFFFF;
    border-radius: 4px 0 0 4px;
    height: 151px;
}

.sub-banner-2-grid.sub-banner-container .col-xs-8 {
    padding-right: 0;
}

.sub-banner-2-grid.sub-banner-container .text {
    padding: 25px;
    height: 151px;
    padding-bottom: 50px;
}

.sub-banner-2-grid.sub-banner-container .text h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.sub-banner-2-grid.sub-banner-container .text p {
    line-height: 22px;
    margin-bottom: 12px;
}

.sub-banner-2-grid.sub-banner-container .learn-more {
    color: #008CCF;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    position: absolute;
    bottom: 25px;
}

.sub-banner-2-grid.sub-banner-container .learn-more:hover {
    color: #00A6F5;
}

.sub-banner-2-grid.sub-banner-container .banner-image {
    width: 100%;
}

.sub-banner-2-grid.sub-banner-container.blue {
    background-color: #0263AA;
    border-radius: 0 4px 4px 0;
}

.sub-banner-2-grid.sub-banner-container.blue .text {
    color: #fff;
}

.sub-banner-2-grid.sub-banner-container.blue .learn-more {
    color: #fff;
}

.sub-banner-2-grid.sub-banner-container.blue .learn-more:hover {
    color: #fff;
}

.cover-banner {
    height: 300px;
    position: relative;
    z-index: 10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
}

.cover-banner .bg-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cover-banner .text {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: table;
}

.cover-banner .text-content {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.cover-banner .text-content .container {
    width: 600px;
}

.cover-banner .text-content h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    margin: 0;
    margin-bottom: 14px;
}

.cover-banner .text-content p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.pdp-banner {
    background-color: #FFFFFF;
    position: relative;
}

.pdp-banner .container {
    position: relative;
}

.pdp-banner .owl-thumbs {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    height: 100%;
}

.pdp-banner .owl-thumb-item {
    border: 2px solid transparent;
    background: none;
    padding: 0;
    opacity: .5;
    background: #fff;
}

.pdp-banner .owl-thumbs.grid2 .owl-thumb-item {
    width: 145px;
    height: 145px;
    display: block;
    margin-bottom: 10px;
}

.pdp-banner .owl-thumbs.grid3 .owl-thumb-item {
    width: 90px;
    height: 90px;
    display: block;
    margin-bottom: 10px;
}

.pdp-banner .owl-thumbs.grid6 {
    width: 210px;
}

.pdp-banner .owl-thumbs.grid6 .owl-thumb-item {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 15px;
}

.pdp-banner .owl-thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pdp-banner .owl-thumb-item.active {
    opacity: 1;
    border: 2px solid #008ED1;
}

.pdp-banner .owl-pdpbanner .bitmap {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
}

.pdp-banner .owl-pdpbanner .owl-dots,
.owl-pdpbanner-right .owl-dots {
    counter-reset: slides-num;
    float: right;
    padding: 2px 3px;
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 0;
    bottom: 15px;
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 3px;
}

.pdp-banner .owl-pdpbanner .owl-dots:before,
.owl-pdpbanner-right .owl-dots:before {
    content: "\e674";
    font-family: 'anticon';
    color: #757886;
    font-size: 12px;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

.pdp-banner .owl-pdpbanner .owl-dots:after,
.owl-pdpbanner-right .owl-dots:after {
    content: counter(slides-num);
    display: inline-block;
    vertical-align: middle;
}

.pdp-banner .owl-pdpbanner .owl-dot,
.owl-pdpbanner-right .owl-dot {
    display: inline-block;
    counter-increment: slides-num;
}

.pdp-banner .owl-pdpbanner .owl-dot span,
.owl-pdpbanner-right .owl-dot span {
    display: none;
}

.pdp-banner .owl-pdpbanner .owl-dot.active:before,
.owl-pdpbanner-right .owl-dot.active:before {
    content: counter(slides-num) "/";
    display: inline-block;
    vertical-align: middle;
}

.pdp-banner-meta {
    position: absolute;
    bottom: 15px;
    left: 65px;
    z-index: 100;
}

.pdp-banner-meta button {
    background: none;
    padding: 0;
    border: 0;
    margin-right: 25px;
}

.pdp-banner-meta button i {
    color: #757886;
    font-size: 16px;
    font-weight: 500;
}

/*CARD*/

.card-container {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 40px;
}

.trending-item-6grid {
    text-align: center;
}

.trending-item-6grid .images {
    width: 100px;
    height: 74px;
    line-height: 100px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
}

.trending-item-6grid a {
    font-weight: 700;
    line-height: 17px;
    color: #757886;
}

.trending-item-6grid a:hover {
    color: #000;
}

/*product-container*/

.background-container {
    background-color: #DB2B3E;
    border-radius: 3px 3px 0 0;
    height: 382px;
    text-align: center;
    padding: 25px;
}

.title-flash {
    color: #FFFFFF;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
}

.desc-flash {
    color: #fff;
    margin-bottom: 20px;
}

.desc-flash i {
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
}

.flash-sale-container {
    background: #fff;
    padding-bottom: 35px;
}

.flash-sale-container .row {
    margin-left: -13px;
    margin-right: -13px;
}

.flash-sale-container .col-xs-2 {
    padding-left: 13px;
    padding-right: 13px;
}

.product-flash {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -168px;
}

.price-box {
    border-bottom: 1px solid #eceff3;
    padding: 20px;
    margin: 20px 0px;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
}

.price-box .price-old {
    color: #757886;
    position: relative;
    display: inline-block;
    opacity: 0.5;
}

.price-box .price-old:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #F26524;
}

.price-box .price {
    color: #008ED1;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.discunt-container {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 50px;
    height: 50px;
    color: #fff;
    background: #f3591f;
    border-radius: 1000px;
    line-height: 50px;
    text-align: center;
    margin-top: -30px;
}

.product-container {
    background-color: #FFFFFF;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}

.product-container.product-container-hovered {
    box-shadow: 0 0 4px 0 rgba(94, 94, 94, 0.5);
    margin-top: -10px;
}

.product-container .bitmap .item {
    display: none;
}

.product-container .bitmap .item.selected {
    display: block;
}

.variant-color {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.variant-color .color-container {
    border-radius: 2px;
    background: #fff;
    border: 1px solid #ddd;
    margin-right: 5px;
    display: inline-block;
    width: 11.3px;
    height: 10.87px;
    cursor: pointer;
}

.variant-color .color-container:last-child {
    margin-right: 0;
}

.variant-color .color-container.red {
    border: 1px solid #D7001F;
    background: #D7001F;
}

.variant-color .color-container.gray {
    border: 1px solid #6F7477;
    background: #6F7477;
}

.variant-color .color-container.green {
    border: 1px solid #17DEBE;
    background: #17DEBE;
}

.variant-color .color-container.selected {
    border: 1px solid #ddd;
}

.product-container .bitmap {
    position: relative;
}

.product-container .bitmap img {
    width: 100%;
}

.product-container .box-container {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 10px;
}

.product-container .price-box {
    border: 0;
    margin: 0;
    padding: 0;
}

.product-container .price-box .price-old {
    font-size: 12px;
}

.product-container .price-box .price {
    display: block;
}

.product-container .discunt-container {
    width: 37px;
    height: 37px;
    line-height: 37px;
    top: 50%;
    margin-top: 0;
    font-size: 12px;
    font-weight: 400;
    margin-top: -20px;
    right: 0;
}

.product-container .title {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
}

.product-container .title a {
    line-height: 17px;
    color: #757886;
}

.product-container .infodeliv {
    color: #aaa;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    opacity: 0.7;
}

.product-container .infodeliv i {
    margin-right: 10px;
}

.product-container .promotion {
    color: #FF0000;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    opacity: 0.7;
}

.product-container .promotion i {
    margin-right: 11px;
    font-size: 12px;
}

.product-container .btn {
    opacity: 0;
    visibility: hidden;
    margin-top: 10px;
}

.product-container.product-container-hovered .btn {
    opacity: 1;
    visibility: visible;
}

.stops-icon {
    background-image: url("../images/icon/stops-icon-mini.svg");
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 10px;
    background-repeat: no-repeat;
}

.delivery-icon {
    background-image: url("../images/icon/delivery-icon.svg");
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 10px;
    background-repeat: no-repeat;
}

.flash-countdown span {
    background-color: #555762;
    border-radius: 4px;
    width: 80px;
    height: 80px;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
}


/*EXPLORE*/

.title-section {
    margin-bottom: 25px;
}

.title-section h2 {
    color: #757886;
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    margin: 0;
}

.explore .row {
    margin-left: -7.4px;
    margin-right: -7.4px;
}

.explore-item {
    margin-bottom: 25px;
}

.explore-item .bitmap {
    margin-bottom: 15px;
    overflow: hidden;
}

.explore-item .bitmap img {
    max-width: 100%;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

.explore-item .title h2 {
    color: #757886;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.explore-item:hover .title h2 {
    color: #000;
}

.explore-item:hover .bitmap img {
    transform: scale(1.1);
}

/*EXPLORE CATEGORY*/

.explore .explore-by-category-3grid,
.explore .explore-by-category-4grid,
.explore .explore-by-category-5grid {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.explore-by-category-3grid {
    float: left;
    width: 33.33333333%;
}

.explore-by-category-4grid {
    float: left;
    width: 25%;
}

.explore-by-category-5grid {
    float: left;
    width: 20%;
}

.explore .explore-by-category-4grid .explore-item .title h2 {
    font-size: 18px;
}

.explore .explore-by-category-5grid .explore-item .title h2 {
    font-size: 16px;
}

/*EXPLORE TRENDING*/

.explore.trending .explore-item .bitmap {
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
    background-color: #FFFFFF;
}

.explore .explore-by-trending-3grid,
.explore .explore-by-trending-4grid,
.explore .explore-by-trending-5grid {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.explore-by-trending-3grid {
    float: left;
    width: 33.33333333%;
}

.explore-by-trending-4grid {
    float: left;
    width: 25%;
}

.explore-by-trending-5grid {
    float: left;
    width: 20%;
}

.explore.trending .bitmap {
    text-align: center;
}

.explore.trending .bitmap img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    object-fit: cover;
}

.explore .explore-by-trending-4grid .explore-item .title h2 {
    font-size: 18px;
}

.explore .explore-by-trending-5grid .explore-item .title h2 {
    font-size: 16px;
}

.round-container-5-grid {
    background-color: #FFFFFF;
    border-radius: 100%;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
    width: 150px;
    height: 150px;
    color: #757886;
    font-size: 28px;
    font-weight: 700;
    line-height: 150px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 16px;
}

.round-container-5-grid .upto {
    color: #757886;
    line-height: 17px;
    font-size: 14px;
    font-weight: 500;
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 45px;
}

.brand-logo-container {
    background-color: #FFFFFF;
    border: 1px solid #E4E9F3;
    width: 120px;
    height: 107px;
    float: left;
    line-height: 107px;
    padding: 0px 20px;
    cursor: pointer;
}

.popover.top {
    margin-top: 40px;
}

.owl-brand.owl-carousel .owl-item .brand-logo-container .bitmap {
    display: initial;
    max-width: 100%;
}

.owl-brand.owl-theme .owl-nav .disabled,
.owl-pdpbanner-right .owl-nav .disabled {
    display: none;
}

.owl-brand.owl-theme .owl-nav [class*=owl-],
.owl-pdpbanner-right .owl-nav [class*=owl-] {
    position: absolute;
    top: 50%;
    left: -25px;
    background-color: #FFFFFF;
    border-radius: 100%;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
    width: 50px;
    height: 50px;
    color: #757886;
    line-height: 50px;
    margin-top: -25px;
}

.owl-brand.owl-theme .owl-nav .owl-next,
.owl-pdpbanner-right .owl-nav .owl-next {
    left: auto;
    right: -25px;
}

.popover {
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(192, 192, 192, 0.5);
    width: 300px;
    height: 85.53px;
    right: 0;
    border: 0;
    color: #555761;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.popover.top > .arrow {
    border-width: 8px;
    bottom: -17px;
}

.explore-inspiration .row {
    margin: 0px -5px;
}

.explore-inspiration .col-xs-3 {
    padding: 0px 5px;
}

.explore-inspiration .container-card {
    min-height: 480px;
}

.explore-inspiration .product-container {
    margin-bottom: 10px;
}

.inspiration-container-left .bitmap.shadow,
.inspiration-container-right .bitmap.shadow {
    position: relative;
    height: 480px;
}

.inspiration-container-left .bitmap.shadow:before,
.inspiration-container-right .bitmap.shadow:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: #0000003d;
    bottom: 0;
}

.inspiration-container-left .bitmap.shadow img,
.inspiration-container-right .bitmap.shadow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inspiration-container-left .bitmap .text,
.inspiration-container-right .bitmap .text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    background-image: linear-gradient(180deg, rgba(238, 238, 238, 0) 0%, #000000 100%);
    padding: 25px;
}

.inspiration-container-right .bitmap .text {
    text-align: right;
}

.container-card {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
    padding: 25px;
    transition: all 0.5s ease-in-out;
}

.inspiration-container-left,
.inspiration-container-right {
    margin-bottom: 15px;
}

.inspiration-container-left .col-xs-8 {
    padding-left: 0;
}

.inspiration-container-right .col-xs-8 {
    padding-right: 0;
}

.inspiration-container-right .col-xs-4 {
    float: right;
}

.title-card {
    margin-bottom: 25px;
}

.title-card h2 {
    color: #757886;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
}

/*FOOTER*/

.homepage-footer {
    padding-top: 60px;
}

.semi-footer {
    background-color: #F0F2F7;
}

.semi-footer .row .col-xs-6:first-child:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #E0E6ED;
    width: 1px;
    right: 0;
}

.semifooter-item {
    padding: 35px 0px;
    text-align: center;
}

.semifooter-item h3 {
    margin-top: 0;
    line-height: 24px;
}

.semifooter-item p {
    margin-bottom: 0;
    line-height: 24px;
}

.footer {
    background-color: #FFFFFF;
}

.footer-menu-top {
    list-style: none;
    padding: 25px 0px;
    margin: 0;
}

.footer-menu-top li {
    float: left;
    margin-right: 25px;
}

.footer-menu-top li a {
    color: #757886;
    font-weight: 700;
    line-height: 17px;
    display: block;
}

.social-list {
    list-style: none;
    padding: 20px 0px;
    margin: 0;
    text-align: right;
}

.social-list li {
    display: inline-block;
    margin-right: 25px;
}

.social-list li:last-child {
    margin-right: 0;
}

.social-list li a {
    color: #757886;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    display: block;
}

.social-list li:hover a,
.footer-menu-top li:hover a {
    color: #000;
}

.hr {
    background-color: #E0E6ED;
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
}

.widget-footer {
    margin-top: 25px;
}

.widget-footer .title {
    color: #757886;
    font-weight: 700;
    line-height: 19px;
    margin: 0;
    margin-bottom: 16px;
}

.footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu li a {
    color: #757886;
    font-size: 16px;
    line-height: 28px;
    display: block;
}

.footer-menu li a:hover {
    color: #000;
}

.logo-footer {
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo-footer-container {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 4px;
    width: 75px;
    height: 30px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.logo-footer-container.noborder {
    border: 0;
    width: auto;
}

.form-m {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 4px;
    height: 40px;
    position: relative;
    width: 100%;
}

.form-m input {
    border: 0;
    height: 38px;
    width: 100%;
    padding-left: 15px;
    padding-right: 75px;
    color: #757886;
}

.rectangle-2 {
    background-color: #F26524;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #F26524;
    width: 60px;
    height: 40px;
    border: 0;
    position: absolute;
    top: -2px;
    right: 0;
    color: #FFFFFF;
}

.rectangle-2:hover {
    background-color: #FF7F45;
}

.rectangle-2 i {
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
}

.footer-bottom {
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-bottom .logo-footer-container {
    margin-bottom: 0;
}

.title-footer-bottom {
    float: left;
    color: #757886;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
}

.copyright {
    text-align: right;
}

.copyright p {
    margin: 0;
    color: #757886;
    font-size: 16px;
    line-height: 19px;
}

/*PRODUCT CATEGORY PAGE*/

.product-category-list .left-content {
    width: 28%;
}

.product-category-list .right-content {
    width: 72%;
}

.info-box-pcp {
    background-color: #E5F7FF;
    padding: 15px;
    position: relative;
}

.info-box-pcp i {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #757886;
    font-size: 18px;
    font-weight: 500;
}

.info-box-pcp .text {
    padding-left: 25px;
    display: block;
    color: #757886;
    line-height: 22px;
}

.card-container-shadow-medium {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
    width: 320px;
}

.card-container-shadow-medium .card-title {
    padding: 20px;
    position: relative;
}

.card-container-shadow-medium .card-title .title {
    color: #757886;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

.card-container-shadow-medium .card-title > a {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #008ED1;
}

.card-container-shadow-medium .card-content {
    padding: 20px;
    border-top: 1px solid #E0E6ED;
}

.form-m select {
    padding-left: 10px;
    padding-right: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    height: 40px;
    background: none;
    width: 100%;
    position: relative;
    z-index: 10;
}

.form-m.select {
    position: relative;
}

.form-m.select:after {
    content: "\e61d";
    font-family: "anticon" !important;
    position: absolute;
    top: 0;
    height: 40px;
    line-height: 40px;
    right: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #757886;
}

.form-m.location:after {
    content: "\e686";
}

.card-container-shadow-medium .card-subtitle {
    color: #757886;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    margin-top: 0;
}

.card-container-shadow-medium .card-desc {
    color: #757886;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
}

.container-menu {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 4px;
}

.container-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-menu ul:after {
    content: "";
    clear: both;
    display: table;
}

.container-menu ul li {
    float: left;
    width: 50%;
    padding: 15px;
    position: relative;
}

.container-menu ul li:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 7px;
    top: 7px;
    width: 1px;
    background-color: #E0E6ED;
}

.container-menu ul li:last-child:after {
    display: none;
}

.container-menu ul li .radio {
    position: absolute;
    top: 0;
    right: 10px;
    display: inline-block;
    padding: 0;
}

.container-menu ul li .radio label {
    width: auto;
}

.container-menu .text {
    text-align: center;
}

.container-menu .text i {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block;
}

.container-menu .text span {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #757886;
}

.form-s {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 4px;
    width: 125px;
    height: 31px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-s.pull-right {
    text-align: right;
}

.price-range {
    margin-top: 10px;
}

.price-range .noUi-horizontal {
    height: 10px;
    box-shadow: none;
    border-radius: 0;
    background: none;
    margin-top: 30px;
}

.price-range .noUi-connect {
    background-color: #008CCF;
    border-radius: 5px;
}

.price-range .noUi-horizontal .noUi-handle {
    background-color: #FFFFFF;
    border: 1px solid #008CCF;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    top: -10px;
    box-shadow: none;
}

.price-range .noUi-horizontal .noUi-handle:focus {
    outline: 0 !important;
}

.price-range .noUi-handle:after,
.price-range .noUi-handle:before {
    display: none;
}

.price-range .mintext,
.price-range .maxtext {
    margin-top: 15px;
    display: inline-block;
    font-size: 12px;
}

.price-range .maxtext {
    float: right;
}

.info-bar {
    background-color: #E5F7FF;
    text-align: center;
    padding: 5px;
}

.info-bar .text {
    color: #757886;
    font-size: 10px;
    line-height: 12px;
}

.info-bar i {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    margin-right: 5px;
}

.form-search-filter {
    position: relative;
}

.form-search-filter .form-s {
    width: 100%;
    padding-right: 30px;
}

.form-search-filter button {
    position: absolute;
    top: 0;
    right: 0;
    height: 31px;
    background: none;
    border: 0;
}

.brand-filter {
    padding-top: 17px;
}

.brand-filter .radio {
    margin-bottom: 10px;
    display: block;
    margin-top: 0;
}

.brand-arrow-down {
    text-align: center;
    margin-top: 10px;
}

.brand-arrow-down > a {
    color: #757886;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.color-container-list {
    list-style: none;
    padding: 0;
    margin: 0 -9px;
}

.color-container-list:after {
    content: "";
    clear: both;
    display: table;
}

.color-container-list li {
    float: left;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 15px;
    cursor: pointer;
}

.color-container-list .color-container {
    background-color: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: block;
}

.color-container-list .color-container.black {
    background-color: #000000;
    border: 1px solid #000000;
}

.color-container-list .color-container.red {
    background-color: #D0021B;
    border: 1px solid #D0021B;
}

.color-container-list .color-container.orange {
    background-color: #F5A623;
    border: 1px solid #F5A623;
}

.color-container-list .color-container.yellow {
    background-color: #F8E71C;
    border: 1px solid #F8E71C;
}

.color-container-list .color-container.brown {
    background-color: #8B572A;
    border: 1px solid #8B572A;
}

.color-container-list .color-container.green {
    background-color: #7ED321;
    border: 1px solid #7ED321;
}

.color-container-list .color-container.pink {
    background-color: #E0107F;
    border: 1px solid #E0107F;
}

.color-container-list .color-container.blue {
    background-color: #4A90E2;
    border: 1px solid #4A90E2;
}

.color-container-list .color-container.blue-light {
    background-color: #50E3C2;
    border: 1px solid #50E3C2;
}

.color-container-list .color-container.purple {
    background-color: #9013FE;
    border: 1px solid #9013FE;
}

.color-container-list .color-container.white {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.card-title .dropdown-menu {
    right: 0;
    left: auto;
    border-radius: 0;
    border-color: #E0E6ED;
    box-shadow: none;
}

.card-title .dropdown-menu > li > a {
    color: #757886;
    padding-bottom: 5px;
    padding-top: 5px;
    display: block;
}

.card-title .dropdown-menu > li > a:hover {
    color: #008ED1;
    background: none;
}

.kategori-pcp .card-title a i {
    color: #757886;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-left: 10px;
}

.kategori-pcp .kategori-pcp-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.kategori-pcp .kategori-pcp-list:last-child {
    margin-bottom: 0;
}

.kategori-pcp .kategori-pcp-list li {
    margin-bottom: 5px;
}

.kategori-pcp .kategori-pcp-list li.title {
    color: #757886;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
}

.kategori-pcp .kategori-pcp-list li a {
    color: #757886;
    font-size: 12px;
    line-height: 24px;
    display: block;
}

.kategori-pcp .kategori-pcp-list li:hover a,
.kategori-pcp .kategori-pcp-list li.active a {
    color: #008ED1;
}

.product-container-pcp .right-content .row .col-xs-3:nth-of-type(4n + 1),
.recommended-for-you-container .row .col-xs-4:nth-of-type(3n + 1),
.recommended-for-you-container .row .col-xs-3:nth-of-type(2n + 1),
.product-container-pcp .row .col-xs-3:nth-of-type(4n + 1) {
    clear: left;
}

.product-container-pcp-luxury {
    padding: 0 15px;
}

.product-container-pcp-luxury .product-container {
    padding: 15px 10px;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 1px solid #E0E6ED;
    margin-bottom: 1px;
}

.product-container-pcp-luxury .product-container.product-container-hovered {
    margin-top: 0;
    box-shadow: 0 0 4px 0 rgba(94, 94, 94, 0.5);
}

.product-container-pcp-luxury .product-container:after {
    content: "";
    display: table;
    clear: both;
}

.product-container-pcp-luxury .product-container .bitmap {
    float: left;
    width: 23.7%;
    padding-left: 14px;
    padding-right: 14px;
}

.product-container-pcp-luxury .product-container .box-container {
    float: left;
    width: 50%;
    padding: 0;
}

.product-container-pcp-luxury .product-container .box-container .title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
}

.product-container-pcp-luxury .product-container .box-container .desc {
    margin: 15px 0px;
    line-height: 22px;
    color: #757886;
}

.product-container-pcp-luxury .product-container .images-thumb {
    margin: 0px -15px;
}

.product-container-pcp-luxury .product-container .images-thumb:after {
    content: "";
    clear: both;
    display: table;
}

.product-container-pcp-luxury .product-container .img-container {
    float: left;
    width: 50%;
    padding: 0px 15px;
    height: 60px;
    overflow: hidden;
}

.product-container-pcp-luxury .product-container .img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-container-pcp-luxury .box-container-right {
    float: left;
    width: 26.3%;
    padding-left: 25px;
    padding-right: 15px;
    text-align: right;
}

.product-container-pcp-luxury .product-container .price-box {
    text-align: right;
    padding-right: 52px;
}

.product-container-pcp-luxury .product-container .amount {
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    opacity: 0.7;
    margin-top: 10px;
    display: block;
}

.paggination-pcp {
    margin-top: 25px;
    border: 1px solid #E0E6ED;
    border-radius: 4px;
}

.product-container .wishlist-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: 0;
    color: #757886;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.product-container.product-container-hovered .wishlist-btn {
    opacity: 1;
    visibility: visible;
}

.paggination-pcp > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.paggination-pcp > ul:after {
    clear: both;
    content: "";
    display: table;
}

.paggination-pcp > ul > li {
    float: left;
}

.paggination-pcp > ul > li > a {
    display: block;
    padding: 10px 20px;
    background: #fff;
    border-right: 1px solid #E0E6ED;
    color: #757886;
    font-size: 16px;
    line-height: 19px;
}

.paggination-pcp > ul > li.active > a,
.paggination-pcp > ul > li:hover > a {
    background-color: #008CCF;
    color: #fff;
}

.paggination-pcp > ul > li:first-child > a {
    border-radius: 4px 0px 0px 4px;
}

.paggination-pcp > ul > li:last-child > a {
    border: 0;
    border-radius: 0px 4px 4px 0px;
}

.seo-container {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 25px;
}

.seo-container h3 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
}

.seo-container p {
    margin-bottom: 25px;
}

.seo-container p:last-child {
    margin-bottom: 0;
}

/*PDP PRODUCT*/

.product-info-container {
    padding: 25px;
}

.product-info-box {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E0E6ED;
}

.product-info-container .title-product {
    margin: 0;
    color: #757886;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
}

.product-info-container .official-store {
    margin-bottom: 30px;
    color: #757886;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.product-info-container .official-store i {
    color: #1AD100;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-right: 5px;
}

.product-info-container .official-store small {
    display: block;
    margin-top: 4px;
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    opacity: 0.5;
}

.product-info-container .product-info .row {
    margin-left: -5px;
    margin-right: -5px;
}

.product-info-container .product-info .row > div {
    padding-left: 5px;
    padding-right: 5px;
}

.product-info-container .sub-title {
    margin: 0;
    margin-bottom: 20px;
    color: #757886;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.product-info-container .product-desc p {
    margin: 0;
    margin-bottom: 20px;
    color: #757886;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.productboxsku .row {
    margin-left: -7.5px;
    margin-right: 7.5px;
}

.productboxsku .row > div {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.product-info-container .product-variant-box {
    background: #F0F2F7;
    margin-bottom: 15px;
    height: 100px;
    text-align: center;
}

.product-info-container .product-variant-box span {
    display: block;
    line-height: 100px;
}

.product-info-container .product-material {
    display: inline-block;
    color: #757886;
    line-height: 17px;
}

.product-shipping .send {
    margin-bottom: 15px;
    color: #757886;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.product-shipping .send p {
    margin: 0;
}

.product-shipping .send > p .edit {
    float: right;
    color: #008ED1;
}

.product-shipping .send > p i {
    margin-right: 5px;
    position: relative;
    top: 0px;
}

.sendlocation {
    color: #757886;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 15px;
}

.info-container {
    text-align: center;
    background-color: #E5F7FF;
    color: #757886;
    font-size: 16px;
    line-height: 19px;
    padding: 10px;
    margin-bottom: 25px;
}

.info-container small {
    display: block;
    font-size: 12px;
    opacity: 0.5;
}

.info-container small i {
    font-size: 14px;
    margin-right: 10px;
}

.orhr {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.orhr:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #E0E6ED;
    position: absolute;
    left: 0;
    top: 50%;
}

.orhr span {
    background: #fff;
    position: relative;
    padding: 0px 15px;
    color: #757886;
}

.itempickup {
    margin-top: 25px;
}

.itempickup .pills {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 10px;
}

.container-illustration {
    background: #E4E9F3;
    text-align: center;
    padding: 20PX;
    border-bottom: 1px solid #fff;
    margin-left: -25px;
    margin-right: -25px;
    color: #757886;
    min-height: 100px;
}

.container-illustration .subhead {
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
    line-height: 17px;
}

.container-illustration .subhead i {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.container-illustration h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 5px;
}

.container-illustration h3 i {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.container-illustration h4 {
    font-size: 12px;
    line-height: 14px;
}

/*REVIEWS*/

.reviews {
    padding: 20px 0px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #E0E6ED;
}

.total-reviews {
    margin-bottom: 25px;
}

.total-reviews:after {
    content: "";
    clear: both;
    display: table;
}

.total-reviews .totals {
    float: left;
    margin-right: 10px;
    color: #F5E300;
    font-size: 36px;
    line-height: 43px;
}

.total-reviews .rating {
    float: left;
}

.total-reviews .rating .star i {
    color: #F5E300;
    font-weight: 500;
    line-height: 17px;
}

.total-reviews .rating .star {
    margin-bottom: 5px;
    display: block;
}

.total-reviews .rating small {
    display: block;
    font-size: 10px;
    line-height: 12px;
    color: #757886;
}

.reviews-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reviews-list .item {
    margin-bottom: 25px;
}

.reviews-list .item:last-child {
    margin-bottom: 0;
}

.reviews-list .item .star {
    margin-bottom: 5px;
    display: block;
}

.reviews-list .item .star i {
    color: #F5E300;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

.reviews-list .item .author {
    color: #757886;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    margin-bottom: 15px;
}

.reviews-list .item .author span {
    opacity: 0.5;
    margin-left: 15px;
    display: inline-block;
}

.reviews-list .item .content {
    color: #8492A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 20px;
}

.reviews-list .item .reviews-bottom span {
    display: inline-block;
    background-color: #F0F2F7;
    border-radius: 2px;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    margin-right: 10px;
}

.reviews-list .item .reviews-bottom span i {
    color: #8492A6;
    font-size: 12px;
    font-weight: 500;
}

#simulasi-cicilan {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.logo-simulasi {
    margin-top: 25px;
    margin-bottom: 25px;
}

/*RIGHT PDP*/

.pdp-action-right.container-card {
    padding: 0;
}

.pdp-action-right .price-box {
    margin: 0;
    border-color: #E0E6ED;
}

.pdp-action-right .price-box .price {
    font-size: 28px;
    display: block;
    line-height: 34px;
}

.pdp-action-right .price-box .price-old {
    font-size: 16px;
}

.pdp-action-right .product-qty {
    padding: 25px;
    padding-bottom: 0;
}

.qty-input:after {
    content: "";
    clear: both;
    display: table;
}

.qty-input button {
    border: 1px solid #E0E6ED;
    height: 40px;
    background: #fff;
    width: 35px;
    margin-left: -2px;
    float: left;
}

.qty-input button i {
    color: #757886;
    font-size: 14px;
    font-weight: 500;
}

.qty-input button:first-child {
    margin-right: -5px;
    margin-left: 0;
}

.qty-input input {
    width: 70px;
    border: 1px solid #E0E6ED;
    height: 40px;
    text-align: center;
    float: left;
}

.pdp-action-right .color-variant {
    padding: 25px;
}

.pdp-action-right .color-variant label {
    color: #757886;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 10px;
}

.pdp-action-right .color-variant ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pdp-action-right .color-variant li {
    display: inline-block;
    position: relative;
}

.pdp-action-right .color-variant li a {
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 3px;
    margin-right: 15px;
    display: block;
}

.pdp-action-right .color-variant li.active:after {
    content: "\e632";
    font-family: 'anticon';
    position: absolute;
    top: 2px;
    left: 7px;
    color: #fff;
}

.pdp-action-right .color-variant li a.brown {
    background: #824c27;
}

.pdp-action-right .color-variant li a.red {
    background: #ce0019;
}

.pdp-action-right .color-variant li a.yellow {
    background: #f7e318;
}

.pdp-action-right .color-variant li a.green {
    background: #386b04;
}

.pdp-action-right .form-button {
    border-top: 1px solid #E0E6ED;
    padding: 10px;
}

.buy-content .owl-carousel .item {
    text-align: center;
}

.buy-content .owl-carousel .item img {
    height: 100px;
    width: auto;
    margin: 0 auto;
}

.pdp-action-right .image-container-slider {
    background: #fff;
    text-align: center;
    display: none;
}

.pdp-action-right .image-container-slider img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin: 0 auto;
}

.owl-pdpbanner-right .owl-dots {
    left: auto;
    right: 10px;
    bottom: 0;
}

.owl-pdpbanner-right .owl-nav [class*=owl-] {
    width: 40px;
    height: 40px;
    line-height: 40px;
    left: 10px;
}

.owl-pdpbanner-right .owl-nav .owl-next {
    right: 10px;
    left: auto;
}

.pdp-action-right.is_stuck {
    top: 80px !important;
    z-index: 10;
}

.pdp-action-right.is_stuck .image-container-slider {
    display: block;
}

.pdp-action-righ.is_stuck.price-box {
    border-top: 1px solid #E0E6ED;
    margin-top: 20px;
}

.sub-navigation-sticky {
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
    padding: 15px 25px;
    z-index: 100 !important;
    display: none;
}

.is-sticky .sub-navigation-sticky {
    display: block;
}

.sticky-subnavigation-sticky-wrapper {
    position: fixed;
}

#sticky-subnavigation-sticky-wrapper {
    height: auto !important;
}

.sub-navigation-sticky > a {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    margin-right: 20px;
    color: #757886;
}

.sub-navigation-sticky > a.active {
    color: #F26524;
}

/*MY TRANSACTION*/

.secondary-menu-profile {
    width: 100%;
}

.secondary-menu-profile > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.secondary-menu-profile > ul > li {
    border-bottom: 1px solid #E0E6ED;
    position: relative;
}

.secondary-menu-profile > ul > li:last-child {
    border: 0;
}

.secondary-menu-profile > ul > li > a {
    display: block;
    padding: 20px;
    color: #757886;
    font-size: 16px;
    line-height: 19px;
}

.secondary-menu-profile > ul > li > a i {
    color: #757886;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-right: 5px;
}

.secondary-menu-profile > ul > li > .icon-right {
    position: absolute;
    top: 23px;
    right: 20px;
    color: #757886;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.secondary-menu-profile > ul > li.active > a,
.secondary-menu-profile > ul > li.active > a i,
.secondary-menu-profile > ul > li.active > .icon-right,
.secondary-menu-profile > ul > li:hover > a,
.secondary-menu-profile > ul > li:hover > a i,
.secondary-menu-profile > ul > li:hover > .icon-right {
    color: #F26524;
}

.transaction-head {
    margin-bottom: 25px;
}

.transaction-head table {
    width: 100%;
}

.transaction-head table tr td {
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E6ED;
    padding-top: 25px;
}

.transaction-head table tr td:last-child {
    text-align: right;
}

.transaction-head table tr td.title {
    width: 60%;
}

.transaction-head table tr td.search {
    width: 40%;
}

.transaction-head table h3 {
    margin: 0;
    color: #757886;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}

.transaction-head table h3 .light {
    font-weight: normal;
}

.transaction-head table p {
    color: #757886;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
}

.transaction-head .form-search-transaction {
    background-color: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 3px;
    height: 40px;
    position: relative;
}

.transaction-head .form-search-transaction input {
    background: none;
    height: 40px;
    border: 0;
    width: 100%;
    padding-left: 30px;
}

.transaction-head .form-search-transaction button {
    background: none;
    border: 0;
    height: 40px;
    color: #757886;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
}

.rectangle-4 {
    background-color: #E5F7FF;
    padding: 15px 25px;
}

.rectangle-4 h3 {
    margin: 0;
    color: #757886;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
}

.label {
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    display: inline-block;
}

.label.label-warning {
    background-color: #F5A623;
    border: 1px solid #E0E6ED;
}

.transaction-header {
    margin-bottom: 15px;
}

.transaction-header table {
    width: 100%;
}

.transaction-header table tr td {
    color: #757886;
    font-size: 16px;
    line-height: 19px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E6ED;
}

.transaction-header table tr td:first-child {
    width: 20%;
}

.transaction-header table tr td img {
    margin-right: 15px;
}

.transaction-table {
    margin-bottom: 15px;
}

.transaction-table table {
    width: 100%;
}

.transaction-table thead td {
    text-align: center;
    color: #757886;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.transaction-table tbody td,
.transaction-table tfoot td {
    color: #757886;
    font-size: 16px;
    line-height: 19px;
    padding-top: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E6ED;
}

.transaction-table tbody tr:last-child td {
    border: 0;
    padding-bottom: 0;
}

.transaction-table tbody td.images {
    width: 15%;
    padding: 20px 10px;
}

.transaction-table tbody td.images img {
    width: 100px;
    height: 100px;
}

.transaction-table tbody td.product {
    width: 50%
}

.transaction-table tbody td.product h3 {
    margin: 0;
    margin-bottom: 10px;
    color: #757886;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.transaction-table tbody td.product h3 a {
    color: #757886;
    font-size: 16px;
    font-weight: 400;
}

.transaction-table tbody td.product .variant {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.transaction-table tbody td.quantity {
    width: 5%;
    text-align: center;
}

.transaction-table tbody td.price {
    width: 15%;
    text-align: right;
}

.transaction-table tbody td.total-price {
    width: 15%;
    text-align: right;
    font-weight: bold;
}

.transaction-table tfoot tr.subtotal td {
    text-align: right;
    padding-top: 50px;
}

.transaction-table tfoot tr.subtotal td.amount {
    font-weight: bold;
}

.transaction-table-status table {
    width: 100%;
}

.transaction-table-status thead td {
    text-align: center;
    color: #757886;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    padding-bottom: 25px;
}

.transaction-table-status tbody td.from {
    position: relative;
    width: 12%;
    vertical-align: top;
    color: #757886;
    line-height: 17px;
    border-right: 1px solid #babbc2;
}

.transaction-table-status tbody .primary .from {
    color: #008ED1;
}

.transaction-table-status tbody td.from span:after {
    content: "";
    background-color: rgb(186, 187, 194);
    border-radius: 100%;
    width: 15px;
    height: 15px;
    position: absolute;
    right: -8px;
    top: 0;
}

.transaction-table-status tbody .primary td.from span:after {
    background-color: #008ED1;
}

.transaction-table-status tbody td.info {
    width: 85%;
    padding-left: 20px;
    vertical-align: top;
    padding-bottom: 10px;
}

.transaction-table-status tbody td.info .date {
    color: #757886;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    opacity: 0.5;
}

.transaction-table-status tbody td.info p {
    margin: 0;
    color: #757886;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.ruparupa-text {
    font-weight: 700;
}

.ruparupa-text .red {
    color: #F26524;
}

.ruparupa-text .blue {
    color: #0C94D4;
}
