/* Color Scheme */

@primary: #F26525;
@primary-lighter: #FF7F45;
@primary-darker: #D6561D;

@secondary: #008CCF;
@secondary-lighter: #00A6F5;
@secondary-darker: #0072A9;

@primary-gray: #555761;
@secondary-gray: #757886;

@info-blue-primary: #E5F7FF;
@info-blue-lighter: #F4FBFE;
@info-blue-darker: #D7E9F0;

@warning-primary: #F3E21D;
@warning-lighter: #FFF043;
@warning-darker: #DCCC1A;

@positive-primary: #049372;
@positive-lighter: #1E824C;
@positive-darker: #228B22;

@negative-primary: #F3251D;
@negative-lighter: #FF3B33;
@negative-darker: #FF3B33;

@icon-light-gray: #E0E6ED;
@icon-darker: #D4DCE6;
@icon-extra-dark: #757885;

@background-off-white: #F9FAFC;
@background-darker: #F0F2F7;
@background-extra-dark: #E5E9F2;

/* Typography */

@font-size-xxxl: 36px;
@font-size-xxl: 28px;
@font-size-xl: 20px;
@font-size-l: 18px;
@font-size-m: 16px;
@font-size-s: 14px;
@font-size-xs: 12px;
@font-size-xxs: 10px;

/* Universal Spacing (margin) */

@margin-xxs: 5px;
@margin-xs: 10px;
@margin-s: 15px;
@margin-m: 20px;
@margin-l: 25px;
@margin-xl: 60px;

/* Universal Spacing (padding) */

@padding-xxs: 5px;
@padding-xs: 10px;
@padding-s: 15px;
@padding-m: 20px;
@padding-l: 25px;
@padding-xl: 60px;
