
@font-face {font-family: "anticon";
  src: url('iconfont.eot?t=1494480257283'); /* IE9*/
  src: url('iconfont.eot?t=1494480257283#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494480257283') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494480257283') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494480257283#anticon') format('svg'); /* iOS 4.1- */
}

.anticon {
  font-family:"anticon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stepforward:before { content: "\e600"; }

.icon-stepbackward:before { content: "\e601"; }

.icon-forward:before { content: "\e602"; }

.icon-banckward:before { content: "\e603"; }

.icon-caretright:before { content: "\e604"; }

.icon-caretleft:before { content: "\e605"; }

.icon-caretdown:before { content: "\e606"; }

.icon-caretup:before { content: "\e607"; }

.icon-rightcircle:before { content: "\e608"; }

.icon-leftcircle:before { content: "\e609"; }

.icon-upcircle:before { content: "\e60a"; }

.icon-downcircle:before { content: "\e60b"; }

.icon-rightcircleo:before { content: "\e60c"; }

.icon-leftcircleo:before { content: "\e60d"; }

.icon-upcircleo:before { content: "\e60e"; }

.icon-downcircleo:before { content: "\e60f"; }

.icon-verticleleft:before { content: "\e610"; }

.icon-verticleright:before { content: "\e611"; }

.icon-rollback:before { content: "\e612"; }

.icon-retweet:before { content: "\e613"; }

.icon-shrink:before { content: "\e614"; }

.icon-arrowsalt:before { content: "\e615"; }

.icon-doubleright:before { content: "\e617"; }

.icon-doubleleft:before { content: "\e618"; }

.icon-arrowdown:before { content: "\e619"; }

.icon-arrowup:before { content: "\e61a"; }

.icon-arrowright:before { content: "\e61b"; }

.icon-arrowleft:before { content: "\e61c"; }

.icon-down:before { content: "\e61d"; }

.icon-up:before { content: "\e61e"; }

.icon-right:before { content: "\e61f"; }

.icon-left:before { content: "\e620"; }

.icon-minussquareo:before { content: "\e621"; }

.icon-minuscircle:before { content: "\e622"; }

.icon-minuscircleo:before { content: "\e623"; }

.icon-minus:before { content: "\e624"; }

.icon-pluscircleo:before { content: "\e625"; }

.icon-pluscircle:before { content: "\e626"; }

.icon-plus:before { content: "\e627"; }

.icon-infocirlce:before { content: "\e628"; }

.icon-infocirlceo:before { content: "\e629"; }

.icon-info:before { content: "\e62a"; }

.icon-exclamation:before { content: "\e62b"; }

.icon-exclamationcircle:before { content: "\e62c"; }

.icon-exclamationcircleo:before { content: "\e62d"; }

.icon-closecircle:before { content: "\e62e"; }

.icon-closecircleo:before { content: "\e62f"; }

.icon-checkcircle:before { content: "\e630"; }

.icon-checkcircleo:before { content: "\e631"; }

.icon-check:before { content: "\e632"; }

.icon-close:before { content: "\e633"; }

.icon-customerservice:before { content: "\e634"; }

.icon-creditcard:before { content: "\e635"; }

.icon-codesquareo:before { content: "\e636"; }

.icon-book:before { content: "\e637"; }

.icon-barschart:before { content: "\e638"; }

.icon-bars:before { content: "\e639"; }

.icon-question:before { content: "\e63a"; }

.icon-questioncircle:before { content: "\e63b"; }

.icon-questioncircleo:before { content: "\e63c"; }

.icon-pause:before { content: "\e63d"; }

.icon-pausecircle:before { content: "\e63e"; }

.icon-pausecircleo:before { content: "\e63f"; }

.icon-clockcircle:before { content: "\e640"; }

.icon-clockcircleo:before { content: "\e641"; }

.icon-swap:before { content: "\e642"; }

.icon-swapleft:before { content: "\e643"; }

.icon-swapright:before { content: "\e644"; }

.icon-plussquareo:before { content: "\e645"; }

.icon-frown:before { content: "\e646"; }

.icon-menufold:before { content: "\e658"; }

.icon-mail:before { content: "\e659"; }

.icon-link:before { content: "\e65b"; }

.icon-areachart:before { content: "\e65c"; }

.icon-linechart:before { content: "\e65d"; }

.icon-home:before { content: "\e65e"; }

.icon-laptop:before { content: "\e65f"; }

.icon-star:before { content: "\e660"; }

.icon-staro:before { content: "\e661"; }

.icon-filter:before { content: "\e663"; }

.icon-meho:before { content: "\e666"; }

.icon-meh:before { content: "\e667"; }

.icon-shoppingcart:before { content: "\e668"; }

.icon-save:before { content: "\e669"; }

.icon-user:before { content: "\e66a"; }

.icon-videocamera:before { content: "\e66b"; }

.icon-totop:before { content: "\e66c"; }

.icon-team:before { content: "\e66d"; }

.icon-sharealt:before { content: "\e671"; }

.icon-setting:before { content: "\e672"; }

.icon-picture:before { content: "\e674"; }

.icon-phone:before { content: "\e675"; }

.icon-paperclip:before { content: "\e676"; }

.icon-notification:before { content: "\e677"; }

.icon-menuunfold:before { content: "\e679"; }

.icon-inbox:before { content: "\e67a"; }

.icon-lock:before { content: "\e67b"; }

.icon-qrcode:before { content: "\e67c"; }

.icon-tags:before { content: "\e67d"; }

.icon-tagso:before { content: "\e67e"; }

.icon-cloudo:before { content: "\e67f"; }

.icon-cloud:before { content: "\e680"; }

.icon-cloudupload:before { content: "\e681"; }

.icon-clouddownload:before { content: "\e682"; }

.icon-clouddownloado:before { content: "\e683"; }

.icon-clouduploado:before { content: "\e684"; }

.icon-enviroment:before { content: "\e685"; }

.icon-enviromento:before { content: "\e686"; }

.icon-eye:before { content: "\e687"; }

.icon-eyeo:before { content: "\e688"; }

.icon-camera:before { content: "\e689"; }

.icon-camerao:before { content: "\e68a"; }

.icon-windows:before { content: "\e68b"; }

.icon-export2:before { content: "\e690"; }

.icon-export:before { content: "\e691"; }

.icon-circledowno:before { content: "\e693"; }

.icon-circledown:before { content: "\e694"; }

.icon-hdd:before { content: "\e69a"; }

.icon-ie:before { content: "\e69b"; }

.icon-delete:before { content: "\e69f"; }

.icon-enter:before { content: "\e6a0"; }

.icon-pushpino:before { content: "\e6a1"; }

.icon-pushpin:before { content: "\e6a2"; }

.icon-heart:before { content: "\e6a3"; }

.icon-hearto:before { content: "\e6a4"; }

.icon-smile-circle:before { content: "\e6a7"; }

.icon-smileo:before { content: "\e6a8"; }

.icon-frowno:before { content: "\e6a9"; }

.icon-calculator:before { content: "\e6aa"; }

.icon-chrome:before { content: "\e6ac"; }

.icon-github:before { content: "\e6ad"; }

.icon-iconfontdesktop:before { content: "\e6b4"; }

.icon-caretcircleoup:before { content: "\e6b5"; }

.icon-upload:before { content: "\e6b6"; }

.icon-download:before { content: "\e6b7"; }

.icon-piechart:before { content: "\e6b8"; }

.icon-lock1:before { content: "\e6b9"; }

.icon-unlock:before { content: "\e6ba"; }

.icon-windowso:before { content: "\e6bc"; }

.icon-dotchart:before { content: "\e6bd"; }

.icon-barchart:before { content: "\e6be"; }

.icon-codesquare:before { content: "\e6bf"; }

.icon-plussquare:before { content: "\e6c0"; }

.icon-minussquare:before { content: "\e6c1"; }

.icon-closesquare:before { content: "\e6c2"; }

.icon-closesquareo:before { content: "\e6c3"; }

.icon-checksquare:before { content: "\e6c4"; }

.icon-checksquareo:before { content: "\e6c5"; }

.icon-fastbackward:before { content: "\e6c6"; }

.icon-fastforward:before { content: "\e6c7"; }

.icon-upsquare:before { content: "\e6c8"; }

.icon-downsquare:before { content: "\e6c9"; }

.icon-leftsquare:before { content: "\e6ca"; }

.icon-rightsquare:before { content: "\e6cb"; }

.icon-rightsquareo:before { content: "\e6cc"; }

.icon-leftsquareo:before { content: "\e6cd"; }

.icon-down-square-o:before { content: "\e6ce"; }

.icon-up-square-o:before { content: "\e6cf"; }

.icon-play:before { content: "\e6d0"; }

.icon-playcircleo:before { content: "\e6d1"; }

.icon-tag:before { content: "\e6d2"; }

.icon-tago:before { content: "\e6d3"; }

.icon-addfile:before { content: "\e910"; }

.icon-folder1:before { content: "\e662"; }

.icon-file1:before { content: "\e664"; }

.icon-switcher:before { content: "\e913"; }

.icon-addfolder:before { content: "\e914"; }

.icon-folderopen:before { content: "\e699"; }

.icon-search1:before { content: "\e670"; }

.icon-ellipsis1:before { content: "\e647"; }

.icon-calendar:before { content: "\e6bb"; }

.icon-filetext1:before { content: "\e698"; }

.icon-copy1:before { content: "\e648"; }

.icon-jpgfile1:before { content: "\e69c"; }

.icon-pdffile1:before { content: "\e6b3"; }

.icon-exclefile1:before { content: "\e6b0"; }

.icon-pptfile1:before { content: "\e6b1"; }

.icon-unknowfile1:before { content: "\e6af"; }

.icon-wordfile1:before { content: "\e6b2"; }

.icon-dingding:before { content: "\e923"; }

.icon-dingding-o:before { content: "\e925"; }

.icon-mobile1:before { content: "\e678"; }

.icon-tablet1:before { content: "\e66e"; }

.icon-bells:before { content: "\e64e"; }

.icon-disconnect:before { content: "\e64f"; }

.icon-database:before { content: "\e650"; }

.icon-barcode:before { content: "\e652"; }

.icon-hourglass:before { content: "\e653"; }

.icon-key:before { content: "\e654"; }

.icon-flag:before { content: "\e655"; }

.icon-layout:before { content: "\e656"; }

.icon-printer:before { content: "\e673"; }

.icon-USB:before { content: "\e6d7"; }

.icon-skin:before { content: "\e6d8"; }

.icon-tool:before { content: "\e6d9"; }

.icon-car:before { content: "\e6dc"; }

.icon-addusergroup:before { content: "\e6dd"; }

.icon-carryout:before { content: "\e6df"; }

.icon-deleteuser:before { content: "\e6e0"; }

.icon-deleteusergroup:before { content: "\e6e1"; }

.icon-man:before { content: "\e6e2"; }

.icon-isv:before { content: "\e6e3"; }

.icon-gift:before { content: "\e6e4"; }

.icon-idcard:before { content: "\e6e5"; }

.icon-medicinebox:before { content: "\e6e6"; }

.icon-redenvelopes:before { content: "\e6e7"; }

.icon-rest:before { content: "\e6e8"; }

.icon-Safety:before { content: "\e6ea"; }

.icon-wallet:before { content: "\e6eb"; }

.icon-woman:before { content: "\e6ec"; }

.icon-adduser:before { content: "\e6ed"; }

.icon-bank:before { content: "\e6ee"; }

.icon-Trophy:before { content: "\e6ef"; }

.icon-loading1:before { content: "\e6ae"; }

.icon-loading2:before { content: "\e64d"; }

.icon-like2:before { content: "\e69d"; }

.icon-dislike2:before { content: "\e69e"; }

.icon-like1:before { content: "\e64c"; }

.icon-dislike1:before { content: "\e64b"; }

.icon-bulb1:before { content: "\e649"; }

.icon-rocket1:before { content: "\e90f"; }

.icon-select1:before { content: "\e64a"; }

.icon-apple1:before { content: "\e68c"; }

.icon-apple-o:before { content: "\e6d4"; }

.icon-android1:before { content: "\e938"; }

.icon-android:before { content: "\e68d"; }

.icon-aliwangwang-o1:before { content: "\e68f"; }

.icon-aliwangwang:before { content: "\e68e"; }

.icon-pay-circle1:before { content: "\e6a5"; }

.icon-pay-circle-o1:before { content: "\e6a6"; }

.icon-poweroff:before { content: "\e6d5"; }

.icon-trademark:before { content: "\e651"; }

.icon-find:before { content: "\e6db"; }

.icon-copyright:before { content: "\e6de"; }

.icon-sound:before { content: "\e6e9"; }

.icon-earth:before { content: "\e6f1"; }

.icon-wifi:before { content: "\e6d6"; }

.icon-sync:before { content: "\e6da"; }

.icon-login:before { content: "\e657"; }

.icon-logout:before { content: "\e65a"; }

.icon-reload1:before { content: "\e616"; }

.icon-message1:before { content: "\e6ab"; }

.icon-shake:before { content: "\e94f"; }

.icon-API:before { content: "\e951"; }

.icon-appstore-o:before { content: "\e695"; }

.icon-appstore1:before { content: "\e696"; }

.icon-scan1:before { content: "\e697"; }

.icon-exception1:before { content: "\e665"; }

.icon-contacts:before { content: "\e6f0"; }

.icon-solution1:before { content: "\e66f"; }

.icon-fork:before { content: "\e6f2"; }

.icon-edit1:before { content: "\e692"; }

.icon-schedule:before {content: "\E6DF";}